* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;  */
}
body{
    background-attachment: fixed;
    background-size: cover;
    background-image:url(background.png);
}
